<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <title>Document</title>
</head>
<body id="main-body">
    <div id="pseudo-body">
        <div class="login_form_container">
            <form id="login_form" action="/login" method="post">
                <label for="email">Enter your email:</label>
                <input type="email" name="email" id="login_email">
                <br>
                <label for="password">Enter your password:</label>
                <input type="password" name="password" id="login_password">
                <br>
                <button type="submit" id="login_button">Login</button>
            </form>
        </div>

    </div>
</body>
</html>